:root {
    --sds-size-stroke-border: 1; 
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none ;
    box-sizing: border-box ;
    overflow-x: hidden ;
}

/* ---------- DASHBOARD -------------  */


/* DASHBOARD-PAGE */
.dashboard-page{
    width:100vw ; 
    height:100vh ; 
    display:flex ; 
    opacity: var(--sds-size-stroke-border);
    /* background: #F1F5F9; */
    font-family: 'DM Sans' ; 
    background-color: #E0F2FE;
}

.dashboard-view{
    flex-grow: 1;   /* It can grow to take up extra space */
    flex-shrink: 1; /* It can shrink if space is tight */
    flex-basis: 0%; /* It starts with no size, then adjusts */
    display: flex ;
    justify-content: center;
    align-items: center;
}


/* SIDEBAR */

/* open state */
.sidebar{
    position:relative ; 
    margin: 1rem 1.5rem 0.7rem 1.5rem  ; 

    display: flex;
    width: 16.3125rem;
    min-height: 95% ; 
    padding: 0.7875rem 1.10938rem ; 
    flex-direction: column;
    justify-content: space-between;
    align-items:  center ;
    flex-shrink: 0;

    border-radius: 0.9rem;
    opacity: var(--sds-size-stroke-border);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.sidebar > div{
    width:100% ; 
    /* border:1px solid  red ;  */
}

.logo-container{ 
    height: 3.1rem;
    display:flex ; 
    align-items: center ;
    justify-content: flex-start;
    /* margin-bottom:0.5rem ;  */
    padding-top:2px ; 
    
}

.nv-icon{
    width: 8.5rem;
    height: 2.1em;
    margin-left: 0.45rem ;

}


/*  not done */
.sidebar-toggle-btn{
    position: absolute;
    right: -12px; /* Equivalent to -right-3 */
    top: 36px; /* Equivalent to top-9 */
    width: 28px; /* Equivalent to w-7 */
    cursor: pointer;
    border-radius: 50%; /* Equivalent to rounded-full */
    border: 2px solid #1E1E2F; /* Equivalent to border-dark-purple */
    z-index:5 ; 
}

#home-icon{
    transform: scale(0.96);
}

.sidebar-item{
    display:flex ; 
    display: flex;
    width: 100%;
    min-height:2.7rem ; 
    height:auto ; 
    padding: 1px 6px ;
    align-items: center;
    /* flex-shrink: 0; */
    border-radius:5px ;
}


.sidebar-item p{
    color: #090000;
    font-family: 'DM Sans' ; 
    font-size: 0.88rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 1.2rem */
    transform: scale(1.01);
    height:100% ; 
    overflow-y: hidden ;
}

.sidebar-item img{
    transform: scale(1.15);
    margin-right:0.75rem ; 
    margin-left:3px ; 
}

.help-content-container .sidebar-item img{
    transform: scale(1);
}

.key-icon{
    color: #090000;
    margin-right:0.75rem ; 
    margin-left:3px ; 
}

.service-content-container{
    margin-bottom:1.5rem  ; 
}



.profile-container{
    display:flex ; 
    align-items : center  ; 
    justify-content : flex-start ; 
    height: 3.5625rem;
    /* padding: 1.5rem 1.4375rem 1.5rem 1.375rem; */
    align-items: center;
    gap:10px ;
    padding: 0 0.95rem ; 

    border-radius: 0.375rem;
    opacity: var(--sds-size-stroke-border);
    /* background: #C0E6FF; */
     background: var(--Grays-Gray-5, #E5E5EA);

}

.profile-text{
    display:flex ; 
    flex-direction: column;
}

.profile-text p:nth-child(1){
    color: var(--Schemes-On-Surface, #1D1B20);
    font-size: 0.88rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.2rem */
    overflow-y: hidden ;
}


.profile-text p:nth-last-child(1){
    color:  #1D1B20 ; 
    font-size: 0.76rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 0.9rem */
}



/* onclick pe sidebar-item wale div ke parent container ko active class attach hoti hai */



.sidebar-item:hover {
    background-color: #f1f1f1; /* Slight hover effect */
}




/* closed state */
.sidebar.closed{
    width:3rem ; 

}