


/* CSS  */

:root {
    --sds-size-stroke-border: 1; 
}
 

*{
    margin: 0;
    padding: 0;
    text-decoration: none ;
    box-sizing: border-box ;
    overflow-x: hidden ;
}

button{
    background: none;
    outline: none;
    box-shadow: none;
}


body{ 
    opacity: var(--sds-size-stroke-border);
    background: #FFF;
    width:100vw ; 
    font-family: 'DM Sans' ; 
    /* letter spacing */
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and other WebKit-based browsers */
  }



/* NAVBAR */
.navbar{
    width:100vw ; 
    height:6.775rem ;
    display:flex ; 
    justify-content: center;
    align-items: center ;
    font-family: 'DM Sans', 
}

.nav-container{
    height:auto ; 
    width: 92% ;
    display:flex ; 
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.4px;
 
}

.nv-logo{
    width: 7.1rem;
    height: auto ; 
    flex-shrink: 0;
}


.nav-links{
    width:19rem ; 
    height:1.9rem ; 
    display:flex; 
    justify-content: space-between;
    align-items: center ;
    opacity: var(--sds-size-stroke-border);
}


.nav-link{
    height:1.8rem ; 
    color: var(--Blue-gray-900, #101323);
    font-family: "DM Sans";
    font-size: 1.145rem;
    font-style: normal;
    font-weight: 750;
    line-height: 1.75rem; /* 155.556% */
}

.nav-link:hover{
    color:#056FFC;
    transform: scale(1.03);
}

.nav-link .active{ 
    color:#056FFC;
}

.nav-btn-container{
    display:flex ; 
    justify-content: space-between;
    width:9.5rem ; 
}










/* HEROSECTION */
.hero-section{
    width:100vw ; 
    min-height:37rem ; 
    position: relative;
    /* background-color: pink; */
}

.hero-content{
    display: flex;
    width: 48rem;
    max-height:21rem ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    /* border:2px solid black ;  */
    margin:6.3rem auto ;

    padding-right:3px ; /* not ideal */ 

}

.hero-title{
    height:auto ; 
    text-align: center;
    font-family: "DM Sans";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 740;
    line-height: 4.4rem; /* 120% */
    letter-spacing: -0.079rem;
    padding:4px 2px; 

    opacity: var(--sds-size-stroke-border);
    background: var(--dark-g, linear-gradient(90deg, #00283C 0%, #1C1243 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-desc{
    width: 38.375rem;
    color: var(--Gray-900, #101828);
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.26rem;
    font-style: normal;
    font-weight: 460;
    line-height: 1.875rem; /* 150% */
    letter-spacing: -0.015rem;
}


.hero-btn{
    margin-top:2rem ;
    align-self: center ;
}

.hero-grey-light{
    position:absolute ; 
    right:-4px ; 
}

.hero-yellow-light img{
    position:absolute ; 
    transform: scale(0.97);
    right: -4px ; 
    top:112px ; 
    
}













/* FAQ SECTION */
.faq-section{
    width:100vw ; 
    min-height:45rem ;
    padding:  5.4rem 5rem ;
    display:flex ; 
    flex-direction: column;
    align-items: center;
    justify-content: center ;


    opacity: var(--sds-size-stroke-border);
    background: #F1F5F9;
}

.faq-title{
    height:auto ; 
    width: 56.25rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 
    padding: 2rem;
    opacity: var(--sds-size-stroke-border);
}

.faq-title h1{
    width:100% ; 
    height: 4.5rem ;
    /* padding:4px 2px  ;  */
    color: #056FFC;
    text-align: center;
    font-family: 'DM Sans' ; 
    font-size: 2.87rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.1rem ;

    /* opacity: var(--sds-size-stroke-border);
    background: linear-gradient(90deg, #5CA2FF 0%, #5196F2 12.1%, #5196F2 14.1%, #468AE5 26.6%, #3B7FD9 38.1%, #2F72CA 51.6%, #2567BE 62.6%, #1B5CB3 73.1%, #1253A8 83.1%, #0B4A9F 91.6%, #034296 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.faq-desc{
    width:100% ; 
    height: auto ;
    color: var(--Blue-Gray-600, #475569);
    text-align: center;

    font-family: 'DM Sans';
    font-size: 1.04rem;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; 
}

.FAQ-container{
    margin-bottom: 5rem ;
    margin-top: 2.6rem ;
    max-width: 63.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    opacity: var(--sds-size-stroke-border);
    padding-bottom:10px ; 
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    }


.accordion-container{
    display: flex;
    width: 100%;
    padding: 2rem ; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.625rem;
    opacity: var(--sds-size-stroke-border);
    background: var(--White, #FFF);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 0px 6px 0px rgba(0, 0, 0, 0.07) ,0px 4px 4px 0px rgba(0, 0, 0, 0.15);       
}


.question-container{
   width:100% ; 
   display:flex ; 
   justify-content: space-between;
   align-items: center ;
   cursor: pointer;


   color: var(--Blue-Gray-900, #0F172A);
   font-size: 1.24rem;
   font-family: 'DM Sans'; 
   font-style: normal;
   font-weight: 600;
   line-height: 110%; /* 1.375rem */
   letter-spacing: -0.005rem;
}

.question-container p{
    min-height:1.3rem ;
    padding:2px ; 
}



.faq-answer {
    max-height: 0;             /* Initially hidden */
    opacity: 0;                /* Initially transparent */
    padding: 0 ;        /* Padding to maintain gap space */
    overflow: hidden;          /* Hide overflowed content */
    visibility: hidden;        /* Initially hidden */
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease, visibility 0s ease 0.4s;
}
  

.faq-answer.show {
    max-height: 500px;         /* Set a value large enough to fit content */
    opacity: 1;                /* Fully visible */
    padding-top: 1.5rem;           /* Padding to create the gap */
    visibility: visible;       /* Make visible when expanded */
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}
  
  



/* background: #f0ebe18

margin-bottom: 5px;

padding: 10px 20px;

} */



/* .c {

color: #8b7f758

max-height: 0;

overflow: hidden;

transition: all 0.5s cubic-bezier(0,1,0,1);

}

.content.show(

height: auto;

max-height: 9999px;

You, seconds ago Uncommitted

transition: all 0.5s cubic-bezier (1,0,1,0); */






/* CONTACT-SALES-PAGE */
.contact-sales-page{
    width:100vw ; 
    height:100vh ; 
}

.contact-sales-section{
    width:100vw ; 
    height: calc(100vh - 6.775rem ) ; 
}












.contact-sales-form{
    max-width:48vw ; 
    min-width: 20rem;
    width:auto ; 
    height:58vh ; 
    border-radius: var(--sds-size-radius-200) ; 
    opacity: var(--sds-size-stroke-border);
    padding:1rem ;  
    background: #F4F9FF;
    display:flex ; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between ; 



}

.contact-sales-form > div {
    width:100% ; 
    display:flex ; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    gap:1rem ; 
}

.contact-fields-container input{
    height:1.7rem ; 
    border-radius: 4px ;
}

.contact-fields-container label{ 
    font-family: 'DM Sans' ; 
}

.input-container textarea{
    width:100% ; 
}


.contact-sales-form .input-container{
    width:100% ; 
    display:flex ; 
    flex-direction:column ; 
    align-items: center ;
    justify-content: space-between;
    border:1px solid blueviolet ; 
    gap:0.33rem ; 

    label{
        width:100% ; 
        display: flex ;
        justify-content: flex-start;
        align-items: center ;
    }

    input{
        width:100% ; 
        align-items: center;
        align-self: stretch;

    }
}


.contact-fields-container :nth-child(3){
    width:100% ; 
    display:flex ; 
    justify-content:space-between ;
    align-items: center ;


    > div{
        display: flex ;
        flex-direction: column; 
    }



}