


/* CSS  */

:root {
    --sds-size-stroke-border: 1; 
    --sds-color-border-default-default: #D9D9D9 ; 
    --sds-color-text-default-default: #1E1E1E ; 
    --sds-color-text-default-tertiary:#B3B3B3 ; 
    --sds-color-background-default-default: #FFFFFF; 
}
 

*{
    margin: 0;
    padding: 0;
    text-decoration: none ;
    box-sizing: border-box ;
    overflow-x: hidden ;
}

button{
    background: none;
    outline: none;
    box-shadow: none;
}




body{ 
    opacity: var(--sds-size-stroke-border);
    background: #FFF;
    width:100vw ; 
    font-family: 'DM Sans' ; 
    /* letter spacing */
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and other WebKit-based browsers */
  }



/* NAVBAR */
.navbar{
    width:100vw ; 
    height:6.775rem ;
    display:flex ; 
    justify-content: center;
    align-items: center ;
    font-family: 'DM Sans', 
}

.nav-container{
    height:auto ; 
    width: 92% ;
    display:flex ; 
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.4px;
    margin-left:2px ; 
 
}

.nv-logo{
    width: 7.1rem;
    height: auto ; 
    flex-shrink: 0;
}


.nav-links{
    width:23rem ; 
    height:1.9rem ; 
    display:flex; 
    justify-content: space-between;
    align-items: center ;
    opacity: var(--sds-size-stroke-border);
    padding-left:2rem ; 
}


.nav-link{
    height:1.8rem ; 
    color: var(--Blue-gray-900, #101323);
    font-family: "DM Sans";
    font-size: 1.145rem;
    font-style: normal;
    font-weight: 750;
    line-height: 1.75rem; /* 155.556% */
}

.nav-link:hover{
    color:#056FFC;
    transform: scale(1.03);
}

.nav-link .active{ 
    color:#056FFC;
}

.nav-btn-container{
    display:flex ; 
    justify-content: space-between;
    align-items: center ;
    width:auto  ; 
    gap:8px ; 
}


.contact-btn{
    cursor: pointer;
    max-width:8rem ; 
    width:auto ; 
    height: 2.25rem ; 
    padding:0.4rem 0.8rem ; 
    display:flex ; 
    justify-content: center;
    align-items: center ;

    color: #056FFC;
    font-family: "DM Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.005rem ;

    border-radius: 0.375rem;
    opacity: var(--sds-size-stroke-border);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 2px solid #056FFC;
    opacity: 1 ;
    margin-bottom: 2px ;
    margin: 2px;
}

.contact-btn:hover{
    border:2px solid black ; 
    transform:scale(1.01) ;
    color:black ;
    transition: all 0.1s ease-in ; 
    cursor:pointer ; 

    overflow: hidden ;
}


.login-btn.nav-btn{
    width:auto ; 
    padding:0.4rem 0.6rem ; 
    height:2.2rem ; 
    cursor: pointer;

    /* font-family: "DM Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.005rem ; */

    color: var(--Labels-Primary, #000);
    font-family: "DM Sans";
    font-size: 0.8525rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.01625rem;

    display:flex ; 
    align-items: center;
    gap:4px ;
    border:none ; 
    
    span{
        margin-top:1px ; 
        font-weight: 500 ;
        
    }
}


.login-btn.nav-btn:hover{ 
    transform: scale(1.04);
    transition: all 0.1s ease-in ; 
    cursor:pointer ; 
    font-weight: 600;
    overflow: hidden;


}

#login-only{
    font-size: 0.895rem ;
}


.user-icon{
    width:1rem ; 
    height:1rem ; 
    font-weight: 900;
}










/* HEROSECTION */
.hero-section{
    width:100vw ; 
    min-height:37rem ; 
    position: relative;
    /* background-color: pink; */
}

.hero-content{
    display: flex;
    width: 48rem;
    max-height:23rem ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    /* border:2px solid black ;  */
    margin:6.3rem auto ;
    padding-bottom: 20px ;

    padding-right:3px ; /* not ideal */ 

}

.hero-title{
    height:auto ; 
    text-align: center;
    font-family: "DM Sans";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 740;
    line-height: 4.4rem; /* 120% */
    letter-spacing: -0.079rem;
    padding:4px 2px; 

    opacity: var(--sds-size-stroke-border);
    background: var(--dark-g, linear-gradient(90deg, #00283C 0%, #1C1243 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-desc{
    width: 38.375rem;
    color: var(--Gray-900, #101828);
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.26rem;
    font-style: normal;
    font-weight: 460;
    line-height: 1.875rem; /* 150% */
    letter-spacing: -0.015rem;
}


.hero-btn{
    border:none ; 
    height:3.15rem ; 
    width:10rem ;
    align-self: center ;
    display:flex ; 
    justify-content: center;
    align-items: center;
    background-color:#056DF8;
    margin:5px ; 
    margin-top:1.3rem ;
    margin-right:0.75rem ; 
    letter-spacing: -0.012rem;
    z-index:50 ; 

    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 10px; 

    color: var(--White, #FFF);
    font-family: "DM Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 155.556% */
}   

.hero-btn:hover{
    transform: scale(1.01);
    background-color:#1278fe ; 
    transition: all 0.1s ease-in ; 
    cursor:pointer ; 
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.hero-grey-light{
    position:absolute ; 
    right:-4px ; 
}

.hero-yellow-light img{
    position:absolute ; 
    transform: scale(0.97);
    right: -4px ; 
    top:112px ; 
    
}





/* DASHBOARD PREVIEW SECTION */

.dashboard-preview-section{
    width:100vw ; 
    height:auto ; 
    padding:3.3rem 2rem ; 
    padding-bottom: 5rem ;
    /* background-color: beige ;  */

    display:flex ; 
    justify-content: center ;
    align-items: center ;
}


.dashboard-preview-container{
    width:auto ; 
    height:auto ; 
    padding: 2px ;
    /* background-color: pink ; */

    display: flex;
    justify-content: center;
    align-items: center;
    border:none ; 

    /* box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 0px 10px 0px rgba(0, 0, 0, 0.07); */

}

.dashboard-preview-img{
    /* max-width:68.8rem ;  */
    width:70vw ; 
    height:auto; 
    padding:0px 0px  ; 
    border-radius: 1.25rem;
    /* box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 0px 10px 0px rgba(0, 0, 0, 0.07); */
    border:none ;  
    z-index:100 ; 
    margin:4px 0 ; 
}

/* .dashboard-preview-img:hover{
    cursor: pointer;
    transform: scale(1.01);
} */

















/* FAQ SECTION */
.faq-section{
    width:100vw ; 
    min-height:45rem ;
    padding:  5.4rem 5rem ;
    display:flex ; 
    flex-direction: column;
    align-items: center;
    justify-content: center ;


    opacity: var(--sds-size-stroke-border);
    background: #F1F5F9;
}

.faq-title{
    height:auto ; 
    width: 56.25rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 
    padding: 2rem;
    opacity: var(--sds-size-stroke-border);
}

.faq-title h1{
    width:100% ; 
    height: 4.5rem ;
    /* padding:4px 2px  ;  */
    color: #056FFC;
    text-align: center;
    font-family: 'DM Sans' ; 
    font-size: 2.87rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.1rem ;

    /* opacity: var(--sds-size-stroke-border);
    background: linear-gradient(90deg, #5CA2FF 0%, #5196F2 12.1%, #5196F2 14.1%, #468AE5 26.6%, #3B7FD9 38.1%, #2F72CA 51.6%, #2567BE 62.6%, #1B5CB3 73.1%, #1253A8 83.1%, #0B4A9F 91.6%, #034296 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.faq-desc{
    width:100% ; 
    height: auto ;
    color: var(--Blue-Gray-600, #475569);
    text-align: center;

    font-family: 'DM Sans';
    font-size: 1.04rem;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; 
}

.FAQ-container{
    margin-bottom: 5rem ;
    margin-top: 2.6rem ;
    max-width: 63.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    opacity: var(--sds-size-stroke-border);
    padding-bottom:10px ; 
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    }


.accordion-container{
    display: flex;
    width: 100%;
    padding: 2rem ; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.625rem;
    opacity: var(--sds-size-stroke-border);
    background: var(--White, #FFF);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 0px 6px 0px rgba(0, 0, 0, 0.07) ,0px 4px 4px 0px rgba(0, 0, 0, 0.15);       
}


.question-container{
   width:100% ; 
   display:flex ; 
   justify-content: space-between;
   align-items: center ;
   cursor: pointer;


   color: var(--Blue-Gray-900, #0F172A);
   font-size: 1.24rem;
   font-family: 'DM Sans'; 
   font-style: normal;
   font-weight: 600;
   line-height: 110%; /* 1.375rem */
   letter-spacing: -0.005rem;
}

.question-container p{
    min-height:1.3rem ;
    padding:2px ; 
}



.faq-answer {
    max-height: 0;             /* Initially hidden */
    opacity: 0;                /* Initially transparent */
    padding: 0 ;        /* Padding to maintain gap space */
    overflow: hidden;          /* Hide overflowed content */
    visibility: hidden;        /* Initially hidden */
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease, visibility 0s ease 0.4s;
    font-family: 'DM Sans';
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.875rem */

}
  

.faq-answer.show {
    max-height: 500px;         /* Set a value large enough to fit content */
    opacity: 1;                /* Fully visible */
    padding-top: 1.5rem;           /* Padding to create the gap */
    visibility: visible;       /* Make visible when expanded */
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}
  
  



/* background: #f0ebe18

margin-bottom: 5px;

padding: 10px 20px;

} */



/* .c {

color: #8b7f758

max-height: 0;

overflow: hidden;

transition: all 0.5s cubic-bezier(0,1,0,1);

}

.content.show(

height: auto;

max-height: 9999px;

You, seconds ago Uncommitted

transition: all 0.5s cubic-bezier (1,0,1,0); */





/* LOGIN-PAGE */
.login-page{
    width:100vw ; 
    height:100vh ; 
    opacity: var(--sds-size-stroke-border);
    background: #FFF;
}

.login-section{
    width:100vw ; 
    height:calc(100vh - 6.775rem ) ; 
    display:flex ; 
    justify-content: center ;
    align-items: center ; 
    padding-bottom:0.5vh ; 

}

.login-title{
    height:auto ; 
    padding: 3px 4px ; 
    color: var(--Labels-Primary, #000);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 3.6rem */
    letter-spacing: -1px ;
    margin-bottom: 6px ;
    margin-left: 0.88rem ;
}



.login-form {
    height:19.225rem  ; 
    width:29.25rem ; 
    align-self: center ;
    justify-self: center ; 
    border:1px solid black  ;
    border-radius: 11px ;
    padding:1.12rem 1.05rem ; 
    background: #F4F9FF;
    display:flex ; 
    flex-direction: column ;
    justify-content: space-between ;
    align-items: center ;

    border-radius: 0.625rem;
    border: var(--sds-size-stroke-border) solid var(--sds-color-border-default-default);
    opacity: var(--sds-size-stroke-border);
    background: #F4F8FF;
    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);
    margin: 4px 15px 43px 15px  ;

    z-index:100 ; 
    
}


.login-form > div {
    width:100% ; 
    height:auto ; 
    displaY:flex ; 
    flex-direction: column ;
    gap:16px ; 
}

.login-input-container{
    width:100% ; 
    display:flex ; 
    flex-direction: column ;
    justify-content: space-between;
    align-items: flex-start ;
    gap:4px ; 

    label{
        color: var(--sds-color-text-default-default);
        font-weight: 600;
        color:#000 ; 

    /* Body Base */
    font-family: var(--sds-typography-body-font-family);
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 140%; /* 1.4rem */
    }


    input{
        /* all:unset ;  */
        border:none ; 
        outline:none ; 
        height:2.15rem ; 
        width:95% ; 
        border-radius: var(--sds-size-radius-200);
        border: 1px solid var(--sds-color-border-default-default);
        opacity: var(--sds-size-stroke-border);
        background: var(--sds-color-background-default-default);
        font-size:0.9rem ; 
        padding:1px 10px ; 
        border-radius: 7px ;

        /* color: var(--sds-color-text-default-tertiary); */
        font-style: normal;
        line-height: 100%;
        color:#757575 ; 


    }
}


/* .login-input-container input:hover {
    border:2px solid #2e86fa ;

} */

.login-input-container input:focus {
    border:1px solid #1b7dfe ;

}

.login-form-btn-container{
    width:95% ; 
    display:flex ; 
    flex-direction: column  ;
    margin-bottom:6px ;
}

.login-form .login-btn{
    height:2.55rem ; 
    padding: 0.7rem auto ;
    background-color: #FFD60A;
    display:flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.1rem ;
 
    color: var(--Labels-Primary, #000);

    font-family: "DM Sans" ; 
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 100%; /* 1rem */
    font-weight: 500;
    border-radius: 0.45rem ;
    border:none;
    box-shadow : -0.5px -1.5px 0px 0px rgba(0, 0, 0, 0.12) inset;

    color: var(--Rich-Black-900, #000814);
    text-align: center;
}

.login-form .login-btn:hover{
    cursor: pointer;
}


.forgot-neurakey{
    color:#056FFC ; 
    text-decoration: underline ;
    font-size: 0.95rem ;
    padding-left:4px ; 
    margin: 4px 0 ; 

}











/* CONTACT-SALES-PAGE */
.contact-sales-page{
    width:100vw ; 
    height:100vh ; 
}

.contact-sales-section{
    width:100vw ; 
    height: calc(100vh - 6.775rem ) ; 
    display:flex ; 
    align-items: center;
    justify-content: space-between;
    padding:0 2.5rem ; 

}

.lets-talk-container{
    display:flex ; 
    flex-direction: column ; 
    max-width: 39.0625rem;
    height: auto ;
    padding:0.5rem ; 
    height:  63vh ; 
} 


.lets-talk-container h1{
    width: 16rem;
    height: 5rem;
    padding-top:8px ; 
    color: var(--Labels-Primary, #000);
    font-family: Montserrat;
    font-family: 'DM Sans';
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80% ; 
    letter-spacing: -0.25rem;
}

.lets-talk-container h1 span{
    color:#007AFF; 
}


.lets-talk-container > p {
    color: var(--Labels-Primary, #000);
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 104.348% */
    letter-spacing: -0.08625rem;
    margin-top: -6px ;
}

.lets-talk-container .contact-btn-container{
    width:90% ;
    height:auto ; 
    padding:1rem ; 
    display: flex;
    align-items: flex-start;
    gap: 1.375rem;
    justify-self: flex-end ;
}


.lets-talk-container .contact-btn-container button{
    width:13rem ;
    max-height:5rem ;
    min-height:4rem ; 
    height:auto ; 

    font-family: 'DM Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 510;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.01rem ;
    border-radius: 0.625rem ;
    cursor: pointer;
}


.call-us-btn{
    color: var(--White, #FFF);
    padding:0.75rem ; 

    border: 2px solid var(--Blue-600, #2563EB);
    opacity: var(--sds-size-stroke-border);
    background: var(--Blue-600, #2563EB);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    
}

.call-us-btn p{
    margin-right: 1.9rem ;
}

.call-us-btn p:nth-child(1){
    padding-right:2rem ; 
}

.email-us-btn{
    color:#2563EB ; 
    display: flex;
    flex-direction: column;
    align-items: start ;
    border: 2px solid var(--Blue-600, );
    opacity: var(--sds-size-stroke-border);
    padding:0.75rem 0.63rem ; 
    padding-left:5px ; 

}


.contact-sales-form-container{
    display:flex ; 
    flex-direction: column;
    width:auto ; 
    height:auto ; 
 
}





.contact-sales-form{
    max-width:45vw ; 
    min-width:35rem ;
    width:auto ; 
    min-height:63vh ;
    border-radius: 0.625rem;
    opacity: var(--sds-size-stroke-border);
    padding:1rem ;  
    background: #F4F9FF;
    display:flex ; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between ; 

    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);
    margin: 4px 15px 2px 15px  ;  


}

.contact-sales-form > div {
    width:100% ; 
    display:flex ; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    gap:1rem ; 
}

.contact-fields-container input{
    all:unset ; 
    height:2.1rem ; 
    border-radius: 4px ;
    background-color:white ; 
    max-width:93% ; 
    border-radius: var(--sds-size-radius-200);
    border: 1px solid var(--sds-color-border-default-default);
    opacity: var(--sds-size-stroke-border);
    background: var(--sds-color-background-default-default);
    font-size:0.9rem ; 
    padding:1px 10px ; 
    border-radius: 7px ;

    font-style: normal;
    line-height: 100%;
    color:#757575 ; 
}

/* .contact-fields-container input:hover{
    border:2px solid  #2e86fa ;
} */


.contact-fields-container input:focus{
      border:1px solid #1b7dfe ;

}

.contact-fields-container label{ 
    font-family: 'DM Sans' ; 
    color: var(--Labels-Primary, #000);
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    line-height: 140%; /* 1.4rem */
    color: var(--sds-color-text-default-default);
    font-weight: 600;
    color:#000 ; 
    font-family: var(--sds-typography-body-font-family);
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 140%; /* 1.4rem */
}

.input-container textarea{
    width:100% ; 
}


.contact-sales-form .input-container{
    width:100% ; 
    display:flex ; 
    flex-direction:column ; 
    align-items: center ;
    justify-content: space-between;
    gap:0.33rem ; 

    label{
        width:100% ; 
        display: flex ;
        justify-content: flex-start;
        align-items: center ;
    }

    input{
        width:100% ; 
        align-items: center;
        align-self: stretch;

    }
}


.contact-fields-container :nth-child(3){
    width:100% ; 
    display:flex ; 
    justify-content:space-between ;
    align-items: center ;
    gap:12px ; 


    > div{
        display: flex ;
        flex-direction: column;

        
    }

}

#business-email-container{
    width:58% ;  
}


#phone-no-container{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}


.contact-fields-container :nth-child(4){
    height:auto ; 
    margin-bottom:2rem; 

    textarea{
        display:flex ; 
        all:unset ; 
        border-radius: 2px ;
        background-color:white ; 
        width:93% ; 
        border-radius: var(--sds-size-radius-200);
        border: 1px solid var(--sds-color-border-default-default);
        opacity: var(--sds-size-stroke-border);
        background: var(--sds-color-background-default-default);
        font-size:0.9rem ; 
        padding:12px 10px ; 
        border-radius: 7px ;
        min-height:3.5rem ;
    
        font-style: normal;
        line-height: 100%;
        color:#757575 ; 

    }
    
}





/* #message:hover{
    border:1px solid  #2e86fa ;
} */


#message:focus{
      border:1px solid #1b7dfe ;
}





.contact-btn-container{
    margin-bottom:0.55rem ;
}
.contact-sales-form-btn{
    width:95% ; 
    display:flex ; 
    justify-content: center ;

    height:2.5rem ; 
    padding: 0.7rem auto ;
    background-color: #FFD60A;
    display:flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.1rem ;
 
    color: var(--Labels-Primary, #000);

    font-family: "DM Sans" ; 
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 100%; /* 1rem */
    font-weight: 500;
    border-radius: 0.45rem ;
    border:none ; 

    box-shadow : -0.5px -1.5px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: var(--Rich-Black-900, #000814);
}